/* Styling for love question section */
#loveQuestion {
  margin-top: 20px;
}

#loveQuestion h2 {
  font-size: 24px;
  color: #6e4091;
  margin-bottom: 15px;
}

#loveQuestion .inText {
  width: 80%;
  margin-bottom: 15px;
  padding: 10px;
  border: 2px solid #6e4091;
  border-radius: 5px;
  font-size: 18px;
}

#loveQuestion button {
  background-color: #6e4091;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 18px;
}

#loveQuestion button:hover {
  background-color: #8d5eb6;
}

/* Styling for the ticket section */
#ticket {
  display: none;
  margin-top: 20px;
  text-align: center;
}

#ticket img {
  width: 60%; /* Adjust the size as needed */
  max-width: 300px;
  margin-bottom: 15px;
}

#ticket p {
  font-size: 16px;
  color: #6e4091;
}

/* Estilo para el título "Koalas Viajeros" */
h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 80px;
  color: #6e4091;
  text-transform: uppercase;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
  position: relative;
}

h1::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150%;
  height: 150%;
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.1) 40%, rgba(255, 255, 255, 0.3) 60%, rgba(255, 255, 255, 0.5) 80%, rgba(255, 255, 255, 0.8) 100%);
  border-radius: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
  animation: pulse 4s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
  }
  50% {
    transform: translate(-50%, -50%) scale(1.5);
    opacity: 0.7;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
  }
}